/*
/*/

!/.github/
!/.vscode/
!/.cursor/
!/assets/
!/elementor/
!/helpers/
!/inc/
!/plugin-update-checker/
!/templates/
!/vendor/

!.gitignore
!composer.json
!composer.lock
!eyeonportal.php
!readme.txt
!README.md
!uninstall.php

.DS_Store