.eyeon-hide {
  display: none !important;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.eyeon-loader {
  position: relative;
  min-height: 60px;
}
.eyeon-loader:after {
  content: "";
  border-width: 4px;
  border-style: solid;
  border-color: #3498db #3498db transparent;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  -webkit-animation: spin 800ms linear infinite;
          animation: spin 800ms linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -24px;
  margin-left: -24px;
}
.eyeon-loader.eyeon-loader-small {
  min-height: 60px;
}
.eyeon-loader.eyeon-loader-small:after {
  width: 36px;
  height: 36px;
  margin-top: -18px;
  margin-left: -18px;
}

.mycenterdeals-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #444;
}
.mycenterdeals-wrapper *,
.mycenterdeals-wrapper *:after,
.mycenterdeals-wrapper *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.mycenterdeals-wrapper img {
  vertical-align: bottom;
}
.mycenterdeals-wrapper a {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
}
.mycenterdeals-wrapper .hide {
  display: none !important;
}
.mycenterdeals-wrapper .editor_output a {
  color: var(--mcdAccentColor);
}
.mycenterdeals-wrapper .editor_output a:hover {
  text-decoration: underline !important;
}
.mycenterdeals-wrapper .editor_output h3 {
  line-height: 1.35em;
  font-size: 1.25em;
}
.mycenterdeals-wrapper .editor_output p {
  font-size: 1.05em;
  line-height: 1.25em;
}
.mycenterdeals-wrapper .editor_output p:last-child {
  margin-bottom: 0;
}
.mycenterdeals-wrapper .editor_output ul {
  list-style: inherit !important;
  margin-left: 24px !important;
  margin-bottom: 15px !important;
  padding-left: 0 !important;
}
.mycenterdeals-wrapper .editor_output ul li {
  list-style: inherit !important;
  margin-bottom: 0 !important;
}

.eyeon-wrapper select,
.eyeon-wrapper input,
.eyeon-wrapper button,
.eyeon-wrapper textarea {
  outline: none;
}

.no-items-found {
  border: 1px solid #61baaf;
  background-color: rgba(121, 213, 202, 0.1098039216);
  color: #50b3a7;
  font-weight: 500;
  padding: 0.75rem 1.25rem;
  text-align: center;
  border-radius: 4px;
  margin: 0 auto;
  max-width: 580px;
}

.owl-carousel.owl-nav-show {
  padding: 0 30px;
}
.owl-carousel.owl-nav-show .owl-nav {
  margin: 0;
}
.owl-carousel.owl-nav-show .owl-nav button {
  width: 20px;
  height: 20px;
  border: 3px solid #888;
  border-radius: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 50%;
  margin-top: -8px;
  opacity: 0.7;
  background-color: transparent !important;
  outline: none;
}
.owl-carousel.owl-nav-show .owl-nav button.owl-prev {
  border-right-color: transparent;
  border-top-color: transparent;
  left: 4px;
}
.owl-carousel.owl-nav-show .owl-nav button.owl-next {
  border-left-color: transparent;
  border-bottom-color: transparent;
  right: 4px;
}
.owl-carousel.owl-nav-show .owl-nav button:hover {
  opacity: 1;
}
.owl-carousel.owl-dots-show {
  margin-bottom: 40px;
}
.owl-carousel.owl-dots-show .owl-dots {
  position: absolute;
  width: 100%;
  bottom: -40px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.owl-carousel.owl-dots-show .owl-dots .owl-dot {
  outline: none;
}
.owl-carousel.owl-dots-show .owl-dots .owl-dot.active {
  opacity: 1;
}
.owl-carousel.owl-dots-show .owl-dots .owl-dot span {
  margin: 5px;
}

@media screen and (min-width: 600px) {
  .show-on-mob {
    display: none !important;
  }
}
@media (max-width: 599px) {
  .hide-on-mob {
    display: none !important;
  }
  .mycenterdeals-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.eyeon-stores .eyeon-wrapper .content-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.eyeon-stores .eyeon-wrapper .stores-categories {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 220px;
          flex: 0 0 220px;
  border-right: 2px solid #E8E8E8;
}
.eyeon-stores .eyeon-wrapper .stores-categories ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.eyeon-stores .eyeon-wrapper .stores-categories ul li {
  cursor: pointer;
  margin-right: -2px;
  padding: 3px 0px;
  padding-right: 20px !important;
}
.eyeon-stores .eyeon-wrapper .stores-categories ul li.active {
  border-right: 2px solid #444;
  font-weight: 600;
}
.eyeon-stores .eyeon-wrapper .stores-list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.eyeon-stores .eyeon-wrapper .stores-list .stores.grid-view {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 15px;
}
.eyeon-stores .eyeon-wrapper .stores-list .stores .store .image {
  position: relative;
  padding-top: 100%;
}
.eyeon-stores .eyeon-wrapper .stores-list .stores .store .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.06);
}
.eyeon-stores .eyeon-wrapper .stores-list .stores .store .image.show-featured-image {
  padding-top: 50%;
}
.eyeon-stores .eyeon-wrapper .stores-list .stores .store .image.show-featured-image img {
  width: 50%;
}
.eyeon-stores .eyeon-wrapper .stores-list .stores .store .image.show-featured-image img.featured-image {
  left: auto;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.eyeon-stores .eyeon-wrapper .stores-list .stores .store .image .deal-flag {
  position: absolute;
  right: 0;
  top: 8px;
  background-color: #6ec1e4;
  color: white;
  padding: 0px 10px;
  text-transform: uppercase;
  font-size: 12px;
  z-index: 2;
}
.eyeon-stores .eyeon-wrapper .stores-list .stores.grayscale .store .image img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.7;
}
.eyeon-stores .eyeon-wrapper .stores-list .stores.grayscale .store:hover .image img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
}
@media screen and (max-width: 599px) {
  .eyeon-stores .eyeon-wrapper .content-cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .eyeon-stores .eyeon-wrapper .content-cols .stores-categories {
    -webkit-box-flex: 1 !important;
        -ms-flex: auto !important;
            flex: auto !important;
  }
}

#eyeonstore-single .eyeon-store {
  margin-bottom: 60px;
}
#eyeonstore-single .eyeon-store .mcd-store-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
#eyeonstore-single .eyeon-store .mcd-store-cols .mcd-retailer-image-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
}
#eyeonstore-single .eyeon-store .mcd-store-cols .mcd-retailer-image-col .mcd-retailer-image img {
  width: 100%;
  height: auto;
}
#eyeonstore-single .eyeon-store .mcd-store-cols .mcd-retailer-details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#eyeonstore-single .eyeon-store .mcd-store-cols .mcd-retailer-details .mcd-retailer-name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 24px;
}
#eyeonstore-single .eyeon-store .mcd-store-cols .mcd-retailer-details .eyeon-retailer-details-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
#eyeonstore-single .eyeon-store .mcd-store-cols .mcd-retailer-details .eyeon-retailer-details-cols .eyeon-retailer-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#eyeonstore-single .eyeon-store .mcd-store-cols .mcd-retailer-details .eyeon-retailer-details-cols .eyeon-retailer-content .mcd-retailer-description {
  padding-top: 20px;
  margin-bottom: 24px;
}
#eyeonstore-single .eyeon-store .mcd-store-cols .mcd-retailer-details .eyeon-retailer-details-cols .eyeon-retailer-content .mcd-social-links {
  margin-bottom: 24px;
}
#eyeonstore-single .eyeon-store .mcd-store-cols .mcd-retailer-details .eyeon-retailer-details-cols .mcd-retailer-opening-hours {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 260px;
          flex: 0 0 260px;
}
#eyeonstore-single .eyeon-store .mcd-store-cols .mcd-retailer-details .eyeon-retailer-details-cols .mcd-retailer-opening-hours h4 {
  font-size: 17px;
  font-weight: 600;
  margin: 0 0 10px;
}
#eyeonstore-single .eyeon-store .mcd-store-cols .mcd-retailer-details .eyeon-retailer-details-cols .mcd-retailer-opening-hours .hours-sets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}
#eyeonstore-single .eyeon-store .mcd-store-cols .mcd-retailer-details .eyeon-retailer-details-cols .mcd-retailer-opening-hours .hours-sets .hours-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#eyeonstore-single .eyeon-store .mcd-store-cols .mcd-retailer-details .eyeon-retailer-details-cols .mcd-retailer-opening-hours .hours-sets .hours-set .day {
  opacity: 1;
}
#eyeonstore-single .eyeon-store .mcd-store-cols .mcd-retailer-details .eyeon-retailer-details-cols .mcd-retailer-opening-hours .hours-sets .hours-set .time {
  opacity: 1;
}
@media (max-width: 1023px) {
  #eyeonstore-single .eyeon-store {
    margin-bottom: 30px;
  }
  #eyeonstore-single .eyeon-store .mcd-store-cols .mcd-retailer-image-col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
  #eyeonstore-single .eyeon-store .mcd-store-cols .mcd-retailer-details .eyeon-retailer-details-cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  #eyeonstore-single .eyeon-store .mcd-store-cols .mcd-retailer-details .eyeon-retailer-details-cols .mcd-retailer-opening-hours {
    max-width: 220px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  #eyeonstore-single .eyeon-deals .deals-list {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
@media (max-width: 767px) {
  #eyeonstore-single .eyeon-deals .deals-list {
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (max-width: 599px) {
  #eyeonstore-single .eyeon-store .mcd-store-cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  #eyeonstore-single .eyeon-store .mcd-store-cols .mcd-retailer-image-col .mcd-retailer-image img {
    max-width: 400px;
  }
  #eyeonstore-single .eyeon-deals h3.title {
    margin-bottom: 20px;
    padding-bottom: 14px;
    font-size: 20px;
  }
}
@media (max-width: 479px) {
  #eyeonstore-single .eyeon-deals .deals-list {
    grid-gap: 15px;
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

.eyeon-events .eyeon-wrapper .events-list.grid-view {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.eyeon-events .eyeon-wrapper .events-list .event .image {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}
.eyeon-events .eyeon-wrapper .events-list .event .image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.eyeon-events .eyeon-wrapper .events-list .event .event-title {
  margin: 10px 0 0;
  font-size: 17px;
  line-height: 23px;
  font-weight: 600;
}
.eyeon-events .eyeon-wrapper .events-list .event .event-excerpt {
  color: #666;
  font-size: 15px;
  line-height: 21px;
  margin: 4px 0 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.eyeon-events .eyeon-wrapper .events-list .event .metadata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  line-height: 21px;
  gap: 4px;
  margin: 8px 0 0;
}
.eyeon-events .eyeon-wrapper .events-list .event .metadata i.far {
  font-size: 16px;
}
.eyeon-events .eyeon-wrapper .events-list .event .metadata span {
  color: #666;
}
.eyeon-events .eyeon-wrapper .events-list .event .metadata .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.eyeon-events .eyeon-wrapper .events-list .event .metadata .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

#eyeonevent-single .eyeon-event .mcd-event-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
#eyeonevent-single .eyeon-event .mcd-event-cols .mcd-event-image-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
#eyeonevent-single .eyeon-event .mcd-event-cols .mcd-event-image-col .mcd-event-image {
  position: relative;
}
#eyeonevent-single .eyeon-event .mcd-event-cols .mcd-event-image-col .mcd-event-image:before {
  content: "";
  padding-top: 56.25%;
  display: block;
  position: relative;
  background-color: rgba(0, 0, 0, 0.02);
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3) inset;
  z-index: 2;
}
#eyeonevent-single .eyeon-event .mcd-event-cols .mcd-event-image-col .mcd-event-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
#eyeonevent-single .eyeon-event .mcd-event-cols .mcd-event-details-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#eyeonevent-single .eyeon-event .mcd-event-cols .mcd-event-details-col .mcd-event-name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 24px;
  color: #444;
}
#eyeonevent-single .eyeon-event .mcd-event-cols .mcd-event-details-col .mcd-event-date-time {
  margin-bottom: 20px;
}
#eyeonevent-single .eyeon-event .mcd-event-cols .mcd-event-details-col .mcd-event-dates {
  font-weight: bold;
}
#eyeonevent-single .eyeon-event .mcd-event-cols .mcd-event-details-col .mcd-event-times {
  font-weight: bold;
}
#eyeonevent-single .eyeon-event .mcd-event-cols .mcd-event-details-col .mcd-event-description {
  line-height: 24px;
  margin-bottom: 20px;
}
#eyeonevent-single .eyeon-event .mcd-event-cols .mcd-event-details-col .mcd-event-add-to-calendar {
  margin-bottom: 20px;
}
#eyeonevent-single .eyeon-event .mcd-event-cols .mcd-event-details-col .mcd-event-add-to-calendar .addeventatc {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
}
#eyeonevent-single .eyeon-event .mcd-event-cols .mcd-event-details-col .mcd-event-add-to-calendar .addeventatc:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
#eyeonevent-single .eyeon-event .mcd-event-cols .mcd-event-details-col .mcd-event-add-to-calendar .addeventatc .addeventatc_dropdown {
  padding-bottom: 6px;
}
#eyeonevent-single .eyeon-event .mcd-event-cols .mcd-event-details-col .mcd-event-add-to-calendar .addeventatc:not(#addeventatc1),
#eyeonevent-single .eyeon-event .mcd-event-cols .mcd-event-details-col .mcd-event-add-to-calendar .addeventatc em.copyx {
  display: none;
}
#eyeonevent-single .eyeon-event .mcd-event-cols .mcd-event-details-col .mcd-event-share .mcd-share-title {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
@media (max-width: 1023px) {
  #eyeonevent-single .eyeon-event .mcd-event-cols .mcd-event-image-col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}
@media (max-width: 767px) {
  #eyeonevent-single .eyeon-event .mcd-event-cols {
    gap: 20px;
  }
}
@media (max-width: 599px) {
  #eyeonevent-single .eyeon-event .mcd-event-cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #eyeonevent-single .eyeon-event .mcd-event-cols .mcd-event-image-col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

.eyeon-deals h3.title {
  margin-bottom: 30px;
  padding-bottom: 20px;
  font-size: 26px;
  border-bottom: 2px solid #DDD;
}
.eyeon-deals .deals-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.eyeon-deals .deals-list .deal .image {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  margin-bottom: 10px;
}
.eyeon-deals .deals-list .deal .image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.eyeon-deals .deals-list .deal .deal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.eyeon-deals .deals-list .deal .deal-content .retailer-logo {
  width: 80px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: rgba(0, 0, 0, 0.05);
}
.eyeon-deals .deals-list .deal .deal-content .details .deal-title {
  margin: 0 0 6px;
  font-size: 17px;
  line-height: 23px;
  font-weight: 600;
}
.eyeon-deals .deals-list .deal .deal-content .details .deal-expiry {
  font-size: 14px;
  line-height: 17px;
  color: #666;
}

#eyeonstore-single .eyeon-deals .deals-list.grid3 {
  grid-template-columns: repeat(3, 1fr);
}
#eyeonstore-single .eyeon-deals .deals-list.grid4 {
  grid-template-columns: repeat(4, 1fr);
}
#eyeonstore-single .eyeon-deals .deals-list.grid5 {
  grid-template-columns: repeat(5, 1fr);
}
#eyeonstore-single .eyeon-deals .deals-list.grid6 {
  grid-template-columns: repeat(6, 1fr);
}

#eyeondeal-single .eyeon-deal .mcd-deal-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#eyeondeal-single .eyeon-deal .mcd-deal-cols .mcd-deal-image-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27%;
          flex: 0 0 27%;
}
#eyeondeal-single .eyeon-deal .mcd-deal-cols .mcd-deal-image-col .mcd-deal-image {
  position: relative;
  padding-top: 56.25%;
  background-color: rgba(0, 0, 0, 0.15);
  background-size: cover;
}
#eyeondeal-single .eyeon-deal .mcd-deal-cols .mcd-deal-image-col .mcd-deal-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}
#eyeondeal-single .eyeon-deal .mcd-deal-cols .eyeon-deal-details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#eyeondeal-single .eyeon-deal .mcd-deal-cols .eyeon-deal-details .eyeon-deal-content {
  font-size: 16px;
  line-height: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#eyeondeal-single .eyeon-deal .mcd-deal-cols .eyeon-deal-details .eyeon-deal-content .mcd-deal-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
#eyeondeal-single .eyeon-deal .mcd-deal-cols .eyeon-deal-details .eyeon-deal-content .mcd-deal-message {
  white-space: pre-wrap;
}
#eyeondeal-single .eyeon-deal .mcd-deal-cols .eyeon-deal-details .eyeon-deal-content .mcd-deal-share .mcd-share-title {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
#eyeondeal-single .eyeon-deal .mcd-deal-cols .eyeon-deal-details .mcd-retailer-details {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
          flex: 0 0 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1023px) {
  #eyeondeal-single .eyeon-deal .mcd-deal-cols .mcd-deal-image-col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
  }
  #eyeondeal-single .eyeon-deal .mcd-deal-cols .eyeon-deal-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 20px;
  }
  #eyeondeal-single .eyeon-deal .mcd-deal-cols .eyeon-deal-details .mcd-retailer-details {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  #eyeondeal-single .eyeon-deal .mcd-deal-cols .eyeon-deal-details .mcd-retailer-details .mcd-retailer-logo {
    max-height: 220px;
    max-width: 220px;
  }
}
@media (max-width: 767px) {
  #eyeondeal-single .eyeon-deal .mcd-deal-cols .eyeon-deal-details .mcd-retailer-details .mcd-retailer-logo {
    max-height: 140px;
    max-width: 140px;
  }
}
@media (max-width: 599px) {
  #eyeondeal-single .eyeon-deal .mcd-deal-cols {
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #eyeondeal-single .eyeon-deal .mcd-deal-cols .eyeon-deal-details .eyeon-deal-content {
    gap: 15px;
  }
}/*# sourceMappingURL=elementor.css.map */