#eyeoncareer-single {
  .eyeon-career {
    .mcd-career-cols {
      display: flex;
      font-size: 16px;
      gap: 2rem;
    }

    .mcd-career-image-col {
      width: 100%;
      max-width: 320px;
      flex: 0 0 25%;

      .mcd-retailer-image {
        position: relative;
        padding-top: 100%;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.08);
        }

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border: none;
          cursor: pointer;
          object-fit: contain;
        }
      }
    }

    .mcd-career-details {
      line-height: 23px;
      flex: 1;

      .mcd-career-title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
        line-height: 24px;
      }

      .mcd-career-description {
        margin-bottom: 20px;
        white-space: pre-wrap;
      }
    }

    .mcd-career-apply-col {
      flex: 0 0 25%;

      .mcd-apply-link {
        margin-bottom: 15px;
      }

      .mcd-contact-details {
        margin-bottom: 15px;

        .mcd-contact-detail {
          line-height: 23px;
        }
      }

      .mcd-retailer-phone {
        margin-bottom: 15px;
      }
    }
  }

  @include media-query(tablet-portrait) {
    .eyeon-career {
      .mcd-career-cols {
        flex-direction: column;

        .mcd-career-image-col {
          order: 1;
        }

        .mcd-career-details {
          order: 3;
        }

        .mcd-career-apply-col {
          order: 2;
        }
      }
    }
  }

  @include media-query(mobile-large) {
    .eyeon-career {
      font-size: 14px;

      .mcd-career-cols {
        gap: 1.5rem;

        .mcd-career-image-col {
          width: 100%;
          flex: 1;
          max-width: 480px;
        }

        .mcd-career-details {
          line-height: 16px;

          .mcd-career-title {
            font-size: 14px;
            line-height: 17px;
          }
        }
      }
    }
  }
}