.eyeon-center-hours {
  .center-hours-wrapper {
    display: flex;
    gap: 8px;

    .icon-col {
      svg {
        height: auto;
      }
    }

    .content-col {
      flex: 1;

      .center-hours {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 15px;
        line-height: 20px;

        .center-hour {
          display: flex;
          justify-content: space-between;

          .values {
            text-align: right;
          }
        }
      }

      .extra-text {
        padding-top: 12px;
        text-align: left;
      }
    }
  }
}