#eyeonnews-single {
  .eyeon-newspost {
    .mcd-post-cols {
      display: flex;
      font-size: 16px;

      .mcd-post-details-col {
        line-height: 23px;
        flex: 0 0 70%;

        .mcd-post-title {
          font-size: 24px;
          font-weight: 600;
          line-height: 27px;
          margin-bottom: 15px;
        }

        .mcd-post-metadata {
          font-size: 14px;
          font-weight: 500;
          display: flex;
          align-items: center;
          color: #888;
          margin-bottom: 20px;
          flex-wrap: wrap;
          gap: 0 20px;
        }

        .mcd-post-image {
          margin-bottom: 20px;
        }
      }

      .mcd-post-sidebar-col {
        flex: 0 0 30%;
        padding-left: 40px;

        .mcd-post-share {
          margin-bottom: 30px;
        }

        .mcd-posts {
          display: flex;
          flex-direction: column;
          gap: 15px;

          .mcd-post {
            display: flex;
            align-items: flex-start;

            .mcd-image {
              width: 96px;
              margin-right: 10px;
              position: relative;

              img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .mcd-title-date {
              flex: 1;
              color: var(--mcdDefaultColor);

              .mcd-title {
                font-size: 14px;
                line-height: 17px;
                font-weight: 500;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
              }

              .mcd-date {
                color: #999;
                font-size: 13px;
                font-style: italic;
              }
            }
          }
        }
      }
    }
  }

  @include media-query(tablet-landscape) {
    .eyeon-newspost {
      .mcd-post-cols {
        .mcd-post-details-col {
          flex: 0 0 60%
        }

        .mcd-post-sidebar-col {
          flex: 0 0 40%;
          padding-left: 20px;
          border: none;
        }
      }
    }
  }

  @include media-query(tablet-portrait) {
    .eyeon-newspost {
      .mcd-post-cols {
        flex-direction: column;
        gap: 20px;

        .mcd-post-details-col {
          flex: auto;
        }

        .mcd-post-sidebar-col {
          flex: auto;
          padding-left: 0;

          .mcd-latest-posts {
            .mcd-posts {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
            }
          }
        }
      }
    }
  }

  @include media-query(mobile) {
    .eyeon-newspost {
      .mcd-post-cols {
        .mcd-post-details-col .mcd-post-title {
          font-size: 20px;
          line-height: 24px;
          margin-bottom: 12px;
        }

        .mcd-post-sidebar-col {

          .mcd-post-share {
            margin-bottom: 20px;
          }

          .mcd-latest-posts {
            .mcd-posts {
              grid-template-columns: repeat(1, 1fr);
              gap: 10px;
            }
          }
        }
      }
    }
  }
}