#eyeonnews-single {
  .eyeon-newspost {
    .mcd-post-cols {
      display: flex;
      font-size: 16px;

      .mcd-post-details-col {
        line-height: 23px;
        flex: 0 0 70%;

        .mcd-post-title {
          font-size: 24px;
          font-weight: 600;
          line-height: 27px;
          margin-bottom: 15px;
        }

        .mcd-post-metadata {
          font-size: 14px;
          font-weight: 500;
          display: flex;
          align-items: center;
          color: #888;
          margin-bottom: 20px;

          >div:not(:first-child):before {
            content: '';
            margin-left: 10px;
            padding-left: 10px;
            border-left: 1px solid #EEE;
          }
        }

        .mcd-post-image {
          margin-bottom: 20px;
        }
      }

      .mcd-post-sidebar-col {
        flex: 0 0 30%;
        padding-left: 40px;

        .mcd-post-share {
          margin-bottom: 30px;
        }

        .mcd-posts {
          display: flex;
          flex-direction: column;
          gap: 15px;

          .mcd-post {
            display: flex;
            align-items: flex-start;

            .mcd-image {
              width: 96px;
              margin-right: 10px;
              position: relative;

              img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .mcd-title-date {
              flex: 1;
              color: var(--mcdDefaultColor);

              .mcd-title {
                font-size: 14px;
                line-height: 17px;
                font-weight: 500;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
              }

              .mcd-date {
                color: #999;
                font-size: 13px;
                font-style: italic;
              }
            }
          }
        }
      }
    }
  }

  @include media-query(tablet-landscape) {
    .eyeon-newspost {
      .mcd-post-cols {
        flex-wrap: wrap;
      }

      .mcd-post-cols .mcd-post-image-col {
        max-width: 240px;
      }

      .mcd-post-cols .mcd-post-details-col {
        padding-left: 15px;
      }

      .mcd-post-cols .mcd-post-sidebar-col {
        max-width: none;
        margin-left: 0;
        padding-left: 0;
        border: none;
      }

      .mcd-latest-posts .mcd-posts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0 10px;
      }
    }
  }

  @include media-query(tablet-portrait) {
    .eyeon-newspost {
      .mcd-post-cols .mcd-post-image-col {
        max-width: 30%;
      }
    }
  }

  @include media-query(mobile-large) {
    .eyeon-newspost {
      .eyeon-newspost1123 {
        font-size: 14px;
      }

      #mcd-blog-post .mcd-post-share {
        margin-bottom: 20px;
      }
    }
  }
}