.eyeon-stores {
  .eyeon-wrapper {
    .stores-header {
      display: flex;
      gap: 20px;
      margin-bottom: 15px;

      .categories-sidebar-placeholder {
        flex: 0 0 220px;
      }

      .search-bar {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .stores-search {
          width: 240px;
          border: 1px solid #AAA;
          padding: 5px 12px;
          font-size: 14px;
          outline: none;
        }
      }
    }

    .content-cols {
      display: flex;
      gap: 20px;
    }

    .stores-categories {
      flex: 0 0 220px;
      border-right: 2px solid #E8E8E8;

      select {
        appearance: none;
        border: 1px solid #AAA;
        font-weight: 500;
        background-color: rgba(0, 0, 0, 0.05);
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          cursor: pointer;
          margin-right: -2px;
          padding: 3px 0px;
          padding-right: 20px !important;

          &.active {
            border-right: 2px solid #444;
            font-weight: 600;
          }
        }
      }
    }

    .stores-list {
      flex: 1;

      .stores {
        &.grid-view {
          display: grid;
          grid-template-columns: repeat(6, minmax(0, 1fr));
          grid-gap: 15px;
        }

        .store {
          .image {
            position: relative;
            padding-top: 100%;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              position: absolute;
              top: 0;
              left: 0;
              background-color: rgba(0, 0, 0, 0.06);
            }

            &.show-featured-image {
              padding-top: 50%;

              img {
                width: 50%;

                &.featured-image {
                  left: auto;
                  right: 0;
                  object-fit: cover;
                }
              }
            }

            .deal-flag {
              position: absolute;
              right: 0;
              top: 8px;
              background-color: #6ec1e4;
              color: white;
              padding: 4px 10px;
              text-transform: uppercase;
              font-size: 12px;
              line-height: 14px;
              z-index: 2;
            }

            .custom-flags {
              padding: 0;
              margin: 0;
              list-style: none;
              display: flex;
              flex-direction: column;
              gap: 4px;
              position: absolute;
              left: 0;
              top: 8px;
              align-items: flex-start;

              li {
                background-color: #58a8ca;
                color: white;
                padding: 4px 10px;
                font-size: 12px;
                line-height: 14px;
              }
            }

            .retailer-location {
              position: absolute;
              bottom: 8px;
              left: 0;
              right: 0;
              background-color: #6ec1e4;
              color: #FFF;
              padding: 4px 8px;
              font-size: 12px;
              line-height: 15px;
              font-weight: 600;
              text-align: center;
            }
          }
        }

        &.grayscale {
          .store {
            .image {
              img {
                filter: grayscale(1);
                opacity: .7;
              }
            }

            &:hover {
              .image {
                img {
                  filter: grayscale(0);
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }

  @include media-query(mobile-large) {
    .eyeon-wrapper {
      .content-cols {
        flex-direction: column;

        .stores-categories {
          flex: auto !important;
          border-right: none;
          position: relative;

          &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            top: calc(50% + 3px);
            right: 12px;
            transform: translateY(-50%);
            border: 6px solid transparent;
            border-top-color: #888;
          }
        }
      }
    }
  }
}