.eyeon-stores {
  .eyeon-wrapper {
    .stores-header {
      display: flex;
      gap: 20px;
      margin-bottom: 15px;

      .categories-sidebar-placeholder {
        flex: 0 0 220px;
      }

      .stores-categories-select {
        height: 100%;

        select {
          appearance: none;
          border: 1px solid #AAA;
          font-weight: 500;
          background-color: rgba(0, 0, 0, 0.05);
          width: 100%;
          padding: 5px 12px;
          font-size: 14px;
          outline: none;
        }

        .custom-select-wrapper {
          position: relative;
          user-select: none;
          width: 100%;
          margin: 0 auto;
          height: 100%;

          .custom-select {
            position: relative;
            display: flex;
            flex-direction: column;
            border-radius: 3px;
            height: 100%;

            .custom-select__trigger {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 6px 12px;
              font-size: 14px;
              color: #444;
              background-color: #a9dfe9;
              cursor: pointer;
              height: 100%;
              gap: 10px;

              span {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-size: 18px;
                text-transform: uppercase;
              }


              &:after {
                content: "";
                width: 0;
                height: 0;
                transform: translateY(3px);
                border: 6px solid transparent;
                border-top-color: #444;
              }
            }

            .custom-options {
              position: absolute;
              display: block;
              top: calc(100% + 1px);
              left: 0;
              border: 1px solid #e8e8e8;
              border-top: 0;
              background: #fff;
              opacity: 0;
              visibility: hidden;
              pointer-events: none;
              z-index: 4;
              border-radius: 0 0 8px 8px;
              transition: all 0.2s;
              min-width: 100%;

              .custom-option {
                position: relative;
                display: block;
                padding: 5px 12px;
                font-size: 14px;
                color: #444;
                cursor: pointer;
                transition: all 0.2s;
                white-space: nowrap;

                &:hover {
                  background-color: #f8f8f8;
                }

                &.selected {
                  color: #333;
                  background-color: #f8f8f8;
                  font-weight: 500;
                }
              }
            }

            &.open {
              .custom-options {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
                transform: translateY(0);
              }
            }
          }

          .hidden-select {
            display: none;
          }
        }
      }

      .stores-directory-heading {
        background-color: #f5e8e3;
        color: #444;
        margin: 0;
        font-size: 22px;
        text-transform: uppercase;
        text-align: center;
        padding: 12px 20px;
      }

      .search-bar {
        width: 240px;
        background-color: #f3f6f1;
        height: 100%;
        display: flex;
        position: relative;

        .eicon-search-bold {
          position: absolute;
          left: 15px;
          top: 50%;
          transform: translateY(-50%);
          color: #888;
          font-size: 20px;
        }

        .stores-search {
          width: 100%;
          padding: 6px 15px 6px 42px;
          outline: none;
          background-color: transparent;
          text-transform: uppercase;
          font-size: 18px;
          border: none;
        }
      }

      &.with-dropdown {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        align-items: center;
        margin-bottom: 30px;

        .search-bar {
          width: auto;
        }
      }
    }

    .content-cols {
      display: flex;
      gap: 20px;
    }

    .stores-categories {
      flex: 0 0 220px;
      border-right: 2px solid #E8E8E8;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          cursor: pointer;
          margin-right: -2px;
          padding: 3px 0px;
          padding-right: 20px !important;

          &.active {
            border-right: 2px solid #444;
            font-weight: 600;
          }
        }
      }
    }

    .stores-list {
      flex: 1;

      .stores {
        &.grid-view {
          display: grid;
          grid-template-columns: repeat(6, minmax(0, 1fr));
          grid-gap: 15px;
        }

        .store {
          .image {
            position: relative;
            padding-top: 100%;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              position: absolute;
              top: 0;
              left: 0;
              background-color: rgba(0, 0, 0, 0.06);
            }

            &.show-featured-image {
              padding-top: 50%;

              img {
                width: 50%;

                &.featured-image {
                  left: auto;
                  right: 0;
                  object-fit: cover;
                }
              }
            }

            .deal-flag {
              position: absolute;
              right: 0;
              top: 8px;
              background-color: #58a8ca;
              color: white;
              padding: 4px 10px;
              text-transform: uppercase;
              font-size: 12px;
              line-height: 14px;
              z-index: 2;
            }

            .custom-flags {
              padding: 0;
              margin: 0;
              list-style: none;
              display: flex;
              flex-direction: column;
              gap: 4px;
              position: absolute;
              left: 0;
              top: 8px;
              align-items: flex-start;

              li {
                background-color: #58a8ca;
                color: white;
                padding: 4px 10px;
                font-size: 12px;
                line-height: 14px;
              }
            }

            .retailer-location {
              position: absolute;
              bottom: 8px;
              left: 0;
              right: 0;
              background-color: #58a8ca;
              color: #FFF;
              padding: 4px 8px;
              font-size: 12px;
              line-height: 15px;
              font-weight: 600;
              text-align: center;
            }
          }
        }

        &.grayscale {
          .store {
            .image {
              img {
                filter: grayscale(1);
                opacity: .7;
              }
            }

            &:hover {
              .image {
                img {
                  filter: grayscale(0);
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }

  @include media-query(mobile-large) {
    .eyeon-wrapper {
      .stores-header {
        flex-direction: column;
        gap: 15px;

        .stores-categories-select {
          flex: auto;

          .custom-select-wrapper {
            max-width: none;
          }
        }

        .search-bar .stores-search {
          width: 100% !important;
        }

        &.with-dropdown {
          grid-template-columns: repeat(1, 1fr);
          gap: 15px;

          >*:nth-child(1) {
            order: 2;
          }

          >*:nth-child(2) {
            order: 1;
          }

          >*:nth-child(3) {
            order: 3;
          }
        }
      }

      .content-cols {
        flex-direction: column;

        .stores-categories {
          flex: auto !important;
          border-right: none;
          position: relative;
        }
      }
    }
  }

}