#eyeonstore-single {
  .eyeon-store {
    margin-bottom: 60px;

    .mcd-store-cols {
      display: flex;

      .mcd-retailer-image-col {
        flex: 0 0 300px;

        .mcd-retailer-image {
          img {
            width: 100%;
            height: auto;
          }
        }
      }

      .mcd-retailer-details {
        flex: 1;
        padding: 0 30px;

        .mcd-retailer-name {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 20px;
          line-height: 24px;
        }

        .mcd-retailer-description {
          padding-top: 20px;
          margin-bottom: 24px;
        }

        .mcd-vs-link {
          margin-bottom: 15px;

          img {
            max-width: 110px;
          }
        }

        .mcd-social-links {
          margin-bottom: 24px;
        }
      }

      .mcd-retailer-opening-hours {
        flex: 0 0 260px;

        h4 {
          font-size: 17px;
          font-weight: 600;
          margin: 0 0 10px;
        }

        .hours-sets {
          display: flex;
          flex-direction: column;
          gap: 4px;

          .hours-set {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .day {
              opacity: 1;
            }

            .time {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}